body {
    font-family: Arial;
    background-color: azure;
    padding: 40px 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

img {
    width: 150px;
    height: 150px;
}

section,
header {
    padding: 10px 60px 20px 60px;
    background-color: white;
    width: 960px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul {
    list-style: none;
}

header li {
    margin-bottom: 15px;
}

.circle {
    border-radius: 50%;
}

.umiejetnosci{
    align-items: left;
}

.nauka{
    margin-top: -250px;
    float: right;
}